<dict-config-nav>
	<nav class="nav-breadcrumbs">
      <div class="nav-wrapper">
         <a href="#/{ props.dictId }"
               class="breadcrumb">{ props.dictTitle }</a>
         <a href="#/{ props.dictId }/config"
               class="breadcrumb">Configure</a>
         <a if={ props.configId }
               href="#/{ props.dictId }/config/{ props.configId }"
               class="breadcrumb">{ props.configTitle }</a>
      </div>
	</nav>
</dict-config-nav>
