<list-headword>
   <a href="{props.link}" class="headword-link collection-item {props.active ? 'red-text' : ''}"></a>

   <script>
      export default {
         setInnerHTML() {
            $('.headword-link', this.root).html(this.props.entryData.title);
         },
         onMounted() {
            this.setInnerHTML()
         },
         onUpdated() {
            this.setInnerHTML()
         }
      }
  </script>
</list-headword>
