#envelope div.pillarform {max-width: 1200px; margin: 30px auto 30px auto; font-size: 1rem; }
@media(max-width: 1300px) {#envelope div.pillarform {margin: 0px 20px;}}

#envelope div.pillarform span.tech {font-family: monospace;}
#envelope div.pillarform span.tech span.brak {color: #669acc;}
#envelope div.pillarform span.tech span.elm {color: #cc3333;}
#envelope div.pillarform span.tech span.ats {color: #999999;}
#envelope div.pillarform span.tech span.att {color: #ff4455;}

#envelope div.pillarform select { margin: 0px 0px 0px 0px; font: inherit; padding: 1px 2px; display: inline-block; vertical-align: middle; width: 100%; cursor: pointer;}
#envelope div.pillarform select.halfwidth {width: 40%; position: relative; top: 1px;}
#envelope div.pillarform select option {padding: 4px 10px; color: #333333; }
#envelope div.pillarform select.none {color: #999999;}
#envelope div.pillarform input.textbox {box-sizing: border-box; width: 100%; margin: 0px 0px 0px 0px; font: inherit; border-width: 0px; border-radius: 4px; background-color: #ffffff; box-shadow: inset 0px 0px 2px #666666; padding: 9px 8px; min-height: 1.3em; display: inline-block; vertical-align: middle;}
#envelope div.pillarform input.textbox.halfwidth {width: 40%; position: relative; top: 1px; padding: 8px 9px}
#envelope div.pillarform textarea.textbox {box-sizing: border-box; width: 100%; resize: vertical; margin: 0px 0px 0px 0px; font: inherit; border-width: 0px; border-radius: 4px; background-color: #ffffff; box-shadow: inset 0px 0px 2px #666666; padding: 10px 8px; min-height: 5.3em; height: 200px; display: inline-block; vertical-align: middle;}
#envelope div.pillarform textarea.textbox.tall {height: 400px;}
#envelope div.pillarform button { box-sizing: border-box; background-position: 10px center; background-repeat: no-repeat; margin: 4px 10px 0px 1px; font: inherit; border-width: 0px; cursor: pointer; background-color: #ffffff; border-bottom: 1px solid #cccccc; color: #004f9b; padding: 7px 10px 6px 35px; min-height: 1.3em; display: inline-block; vertical-align: middle;}
#envelope div.pillarform button.iconOnly { border: 0px; padding: 7px 0px 7px 0px; background-position: center center; background-repeat: no-repeat; min-width: 20px; }
#envelope div.pillarform button.iconCross { background-image: url(../furniture/cross.png);}
#envelope div.pillarform button.iconAdd { background-image: url(../furniture/add.png);}
#envelope div.pillarform button.iconReload { background-image: url(../furniture/arrow_refresh.png);}
#envelope div.pillarform button:hover { background-color: #f7f9ea;}
#envelope div.pillarform label { position: relative; top: -3px; color: #004f9b; cursor: pointer; margin-right: 10px; white-space: nowrap; }
#envelope div.pillarform label input { position: relative; top: 1px;}
#envelope div.pillarform label:hover { background-color: #f7f9ea; padding: 5px 0px 5px 0px; }

#envelope div.pillarform div.title { background-color: #eeeeee; padding: 10px 8px; border-radius: 4px; margin-bottom: 10px; text-shadow: 1px 1px 0px #ffffff; margin-top: 20px; font-weight: bold; color: #004f9b;}
#envelope div.pillarform div.title a {font-weight: normal; font-size: 0.9em; color: #537ea7; float: right; text-decoration: none;}
#envelope div.pillarform div.title a:hover {color: #004f9b;}
#envelope div.pillarform div.instro { padding: 0px 5px; margin-bottom: 10px; text-shadow: 1px 1px 0px #ffffff; margin-top: 7px; color: #999999; font-size: 0.9em; line-height: 1.5em;}
#envelope div.pillarform div.instro a {text-decoration: none; color: #537ea7;}
#envelope div.pillarform div.instro a:hover {color: #004f9b;}
#envelope div.pillarform div.instro code {background-color: #fff8df; padding: 3px 4px; border-radius: 2px; text-shadow: 1px 1px 0px #ffffff;}
#envelope div.pillarform div.instro.undercheck {margin-left: 30px; margin-top: 0px; margin-bottom: 5px;}
#envelope div.pillarform div.instro.borderBelow {border-bottom: 1px solid #eeeeee; padding: 0px 0px 10px 5px;}
#envelope div.pillarform div.instro img {max-width: 50%; box-sizing: content-box; border: 1px solid #666666; border-radius: 2px; box-shadow: 0px 0px 5px #333333; margin: 10px 0px;}
#envelope div.pillarform div.instro.seeabove {margin-top: -10px;}
#envelope div.pillarform div.instro span.seeabove {background-image: url(../furniture/seeabove.png); display: inline-block; background-repeat: no-repeat; width: 32px; height: 32px; margin-right: 0.5em;}
#envelope div.pillarform div.half {width: 49%; display: inline-block; margin: 0; vertical-align: top}

#envelope div.pillarform div.scrollbox {height: 150px; overflow-y: scroll; resize: vertical; font: inherit; border-width: 0px; border-radius: 4px; box-shadow: inset 0px 0px 2px #666666; padding: 10px 8px; }
#envelope div.pillarform div.scrollbox.long {height: none; padding-bottom: 40px;}
#envelope div.pillarform div.scrollbox label {color: #000000;}
#envelope div.pillarform div.scrollbox label.readonly {color: #999999; cursor: default;}
#envelope div.pillarform div.scrollbox label.readonly:hover {background-color: transparent;}

#envelope div.pillarform textarea.advancedAnnotations {height: 150px; font: inherit; border-width: 0px; border-radius: 4px; box-shadow: inset 0px 0px 2px #666666; padding: 10px 8px; width: 100%}
#envelope div.pillarform input[type='radio'] {margin-bottom: 1.5ex;}
#envelope div.pillarform :disabled, #envelope div.pillarform .disabled {background-color: #eeeeee; cursor: not-allowed}

#envelope div.pillarform div.user {padding: 5px 5px 15px 5px; border-bottom: 1px solid #eeeeee; margin-bottom: 10px;}
#envelope div.pillarform div.user div.email {font-size: 1.2em;}
#envelope div.pillarform div.user div.rights {margin-top: 10px; color: #666666;}
#envelope div.pillarform div.user .floatRight {float: right; margin: 12px 0px 0px 0px !important;}

#envelope div.pillarform div.subelement {padding: 5px 5px 15px 5px; border-bottom: 1px solid #eeeeee; margin-bottom: 10px;}
#envelope div.pillarform div.subelement div.elName {font-size: 1.1em;}
#envelope div.pillarform div.subelement .floatRight {float: right; margin: -7px 0px 0px 0px !important;}

#envelope div.pillarform div.apikey {font-size: 1.2em; font-family: monospace; margin: 20px 5px 25px 5px; }

#envelope div.pillarform div.error { background-image: url(../furniture/exclamation.png); background-repeat: no-repeat; background-position: left center; padding-left: 25px; color: #333333; margin-bottom: 10px; text-shadow: 1px 1px 0px #ffffff; margin-top: -5px; color: #c64040; font-size: 0.9em; line-height: 1.5em;}
#envelope div.pillarform div.error code {background-color: #fff8df; padding: 3px 4px; border-radius: 2px; text-shadow: 1px 1px 0px #ffffff;}
