[Unit]
Description=Lexonomy server
After=network.target remote-fs.target nss-lookup.target


[Service]
Environment=NODE_ENV=production
Environment=DEBUG=1
Type=simple
User=apache
Group=1000
WorkingDirectory=/opt/lexonomy/website/
ExecStart=/usr/bin/python3 /opt/lexonomy/website/lexonomy.py
RestartSec=20
Restart=always
SyslogIdentifier=lexonomy

[Install]
WantedBy=multi-user.target
