<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<%-include("head.ejs")%>
		<title>404</title>
		<link type="text/css" rel="stylesheet" href="<%-siteconfig.baseUrl%>furniture/public.css" />
	</head>
	<body class="homepage">
		<div id="header">
			<a class="sitehome" href="<%-siteconfig.baseUrl%>"></a>
		</div>

		<div class="invelope">
			<div class="error404">
				<div class="num">404</div>
				<div class="desc">PAGE NOT FOUND</div>
			</div>
		</div>

	</body>
</html>
