<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<script type="text/javascript" src="../../libs/jquery.js"></script>
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful.css" />
		<link type="text/css" rel="stylesheet" href="../../libs/screenful/screenful-history.css" />
		<script type="text/javascript" src="../../libs/screenful/screenful.js"></script>
		<script type="text/javascript" src="../../libs/screenful/screenful-history.js"></script>
		<script type="text/javascript" src="../../libs/screenful/screenful-loc-en.js"></script>
		<script type="text/javascript">
		Screenful.History.historyUrl="../../<%=dictID%>/history.json";
		Screenful.History.isDeletion=function(revision){
			return revision.action=="delete" || revision.action=="purge";
		};
		Screenful.History.getRevisionID=function(revision){
			return revision.revision_id;
		};
		Screenful.History.printAction=function(revision){
			var content="";
			//actions: delete | create | update | purge
			//historiography: {apikey: apikey} | {uploadStart: uploadStart, filename: filename}
			content+="<div style='white-space: nowrap'>";
				if(revision.action=="create") content+="<b>Created</b>";
				else if(revision.action=="update") content+="<b>Changed</b>";
				else if(revision.action=="delete") content+="<b>Deleted</b>";
				else if(revision.action=="purge") content+="<b>Bulk-deleted</b>";
				if(revision.historiography.uploadStart) content+=" while uploading";
				if(revision.historiography.apikey) content+=" through API";
			content+="</div>";
			content+="<div style='white-space: nowrap'><b>By:</b> "+revision.email+"</div>";
			content+="<div style='white-space: nowrap'><b>When:</b> "+revision.when+"</div>";
			return content;
			//return revision.action+", "+revision.email+", "+revision.when+", "+JSON.stringify(revision.historiography, null, "<br/>");
		};
		Screenful.History.fakeEntry=function(revision){
			return {id: revision.entry_id, content: revision.content, contentHtml: revision.contentHtml};
		};
		var dictID="<%=dictID%>";
		</script>
		<!--app-specific styles go here:-->
		<style>
		</style>
	</head>
	<body>
	</body>
</html>
