<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="icon" type="image/x-icon" href="../furniture/favicon.ico"/>
		<title>One-Click Dictionary settings</title>
		<script type="text/javascript" src="../libs/jquery.js"></script>
		<script type="text/javascript" src="../libs/screenful/screenful.js"></script>
		<link type="text/css" rel="stylesheet" href="../libs/screenful/screenful.css" />
		<script type="text/javascript" src="../libs/screenful/screenful-loc-en.js"></script>
		<script type="text/javascript" src="../libs/screenful/screenful-user.js"></script>
		<link type="text/css" rel="stylesheet" href="../libs/screenful/screenful-user.css" />
		<link type="text/css" rel="stylesheet" href="../libs/screenful/screenful-theme-blue.css" />
		<script type="text/javascript">
		Screenful.User.loggedin=<%=(user.loggedin ? "true" : "false")%>;
		Screenful.User.username="<%=user.email%>";
		</script>
		<script type="text/javascript">var rootPath="../";</script>
		<script type="text/javascript" src="../furniture/screenful-user-config.js"></script>
		<link type="text/css" rel="stylesheet" href="../libs/screenful/screenful-editor.css" />
		<script type="text/javascript" src="../libs/screenful/screenful-editor.js"></script>
		<script type="text/javascript" src="../widgets/oneclick.js"></script>
		<link type="text/css" rel="stylesheet" href="../widgets/pillarform.css" />
		<script type="text/javascript">
		Screenful.Editor.singleton=true;
		Screenful.Editor.entryID="oneclick";
		Screenful.Editor.leaveUrl="../";
		Screenful.Editor.readUrl="../oneclickread.json";
		Screenful.Editor.updateUrl="../oneclickupdate.json";
		Screenful.Editor.editor=function(div, entry){
			Oneclick.change=Screenful.Editor.changed;
			Oneclick.render(div, entry.content);
		};
		Screenful.Editor.harvester=function(div){
			return JSON.stringify(Oneclick.harvest(div));
		};
		Screenful.Editor.allowAutosave=true;
		Screenful.Editor.autosaveOn=true;
		</script>
		<link type="text/css" rel="stylesheet" href="../furniture/ui.css" />
	</head>
	<body>
		<div id="header" style="padding: 10px 14px; height: 38px; border-bottom: 1px solid #1e6bcf;">
		  <a class="sitehome" href="../"></a>
		  <div class="email ScreenfulUser"></div>
		</div>
	</body>
</html>
