<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="lexonomy.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="hello">
					<match url="/*" />
					<action type="Rewrite" url="lexonomy.js" />
				</rule>
			</rules>
		</rewrite>
		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>
